# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
bin/**
obj/**
*.svd
*.userprefs
*.pidb
*.user
*.suo
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db